// MAIN :: START


section.main
  .container

    h1.main__title.title!= "Юридическая информация"
    h2.main__subtitle.subtitle!= "Фонд Respect Bet использует инновационный подход к инвестициям. Наша команда — единственная в СНГ владеет таким инвестиционным инструментом, как кортсайдинг. Это позволяет фонду предоставлять своим инвесторам лучшие условия пассивного заработка."

        
// MAIN :: END
