// CALC :: START


.calc
  .container

    h1.calc__title!= "Инвестируйте с доходностью до 15 % в месяц <br>на срок от 3 до 12 месяцев."

    .calc__row

      .calc__tabs

        include ../../macros/_calcForm



// CALC :: END