// CALC :: START


.calc
  .container

    h1.calc__title.wow.wowFadeUp(data-animation-delay="0.45s")!= "Инвестируйте с доходностью до 15 % в месяц <br>на срок от 3 до 12 месяцев."

    .calc__row.wow.wowFadeUp(data-animation-delay="0.5s")

      .calc__tabs

        include ../../macros/_calcForm



// CALC :: END