// GUARANTEES :: START


.guarantees
  .container

    .guarantees__row
      .guarantees__box.guarantees__box-0.wow.wowFadeUp(data-animation-delay="0.4s")
        .guarantees__box-wrap
          img.guarantees__box-img.wow.wowFadeUp(data-animation-delay="0.5s" src="./img/docs.svg")
        p.guarantees__box-title.wow.wowFadeUp(data-animation-delay="0.55s")!= "Официальный договор"
        p.guarantees__box-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "Вне зависимости от общей доходности, <br>Фонд гарантирует сохранность всей суммы, <br>полученной в управление с момента <br>заключения договора."

      .guarantees__box.guarantees__box-1.wow.wowFadeUp(data-animation-delay="0.4s")
        .guarantees__box-wrap
          img.guarantees__box-img.wow.wowFadeUp(data-animation-delay="0.5s" src="./img/safe-fund.svg")
        p.guarantees__box-title.wow.wowFadeUp(data-animation-delay="0.55s")!= "Резервный фонд"
        p.guarantees__box-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "Все инвестиционные пакеты <br>защищены резервными средствами <br>Фонда, которые хранятся в <br>нескольких банках."



// GUARANTEES :: END