// INVESTMENT :: START


.investment.investment--finish
  .container

    .investment__box
      .investment__box-line.investment__box-line--0.animated
      .investment__box-line.investment__box-line--1.animated
      .investment__box-line.investment__box-line--2.animated
      .investment__box-line.investment__box-line--3.animated
      .investment__box-line.investment__box-line--4.animated
      .investment__box-line.investment__box-line--5.animated
      .investment__box-line.investment__box-line--6.animated
      .investment__box-line.investment__box-line--7.animated

      a.btn.btn--color.btn--medium.wow.wowFadeUp(data-animation-delay="0.3s" href="#" title="" class="")!= "К вкладам"

    h1.investment__title.cabinet__title.wow.wowFadeUp(data-animation-delay="0.4s")!= "Поздравляем вас с успешной <br>инвестицией!"


// INVESTMENT :: END