// INVESTMENT :: START


.investment.investment--finish
  .container

    .investment__box
      .investment__box-line.investment__box-line--0
      .investment__box-line.investment__box-line--1
      .investment__box-line.investment__box-line--2
      .investment__box-line.investment__box-line--3
      .investment__box-line.investment__box-line--4
      .investment__box-line.investment__box-line--5
      .investment__box-line.investment__box-line--6
      .investment__box-line.investment__box-line--7

      a.btn.btn--color.btn--medium(href="#" title="" class="")!= "К вкладам"

    h1.investment__title.cabinet__title!= "Поздравляем вас с успешной <br>инвестицией!"


// INVESTMENT :: END