// NAV

.nav
  min-height: 40px

  &__list
    display: flex
    align-items: center
    height: 100%


  &__link
    height: 100%
    padding-left: 15px
    padding-right: 15px
    color: $c-white

// \ NAV
