// NAV

.nav
  min-height: 40px

  &--bar
    .nav__link
      color: $c-white

  &--wrapper
    .nav__link
      color: $c-royalBlue
      +rmin(768)
        font-size: 14px
      +rmin(992)
        font-size: 16px
      +rmin(1200)
        font-size: 18px

  &--mobile
    .nav__list
      flex-direction: column
      align-items: flex-start
    .nav__item
      width: 100%
      animation-name: wowFade
      visibility: visible
    .nav__link
      display: block
      height: 40px
      color: $c-royalBlue
      font-size: 20px
      +r(767)
        &.is-active
          color: $c-bittersweet


  &__list
    display: flex
    align-items: center
    height: 100%


  &__link
    white-space: nowrap
    height: 100%
    +rmin(768)
      padding-left: 5px
      padding-right: 5px
    +rmin(992)
      padding-left: 15px
      padding-right: 15px

// \ NAV
