// MAIN :: START


section.main
  .container

    .main__row
      .main__row-left
        h1.main__title.title!= "Отзывы клиентов"
        h2.main__subtitle.subtitle!= "Для нас важно получать обратную связь от наших клиентов, она позволяет нам становиться лучше с каждым днем."

      .main__row-right
        a.main__btn.btn.btn--color(href="#" title!="" class!= "")!= "Оставить отзыв"

// MAIN :: END