// TESTIMONIALS :: START


-
  var testimonialsBlockData = [
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "За 2,5 года площадка StartTrack привлекла в 39 компаний более 940 млн рублей. Площадка является посредником, предоставляет сервис и инфраструктуру, а договорные отношения между инвесторами и компаниями-заемщиками регулируются ГК РФ."
    },
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "«ВЭБ Инновации» проинвестирует в StartTrack 200 млн рублей. Сегодня через площадку StartTrack проходит 60% коллективных инвестиций в РФ в малый и средний бизнес. Инвестиционный потенциал площадки и 2000 аккредитованных инвесторов превышает 7 миллиардов рублей."
    },
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "«ВЭБ Инновации» проинвестирует в StartTrack 200 млн рублей."
    },
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "За 2,5 года площадка StartTrack привлекла в 39 компаний более 940 млн рублей. Площадка является посредником, предоставляет сервис и инфраструктуру, а договорные отношения между инвесторами и компаниями-заемщиками регулируются ГК РФ."
    },
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "«ВЭБ Инновации» проинвестирует в StartTrack 200 млн рублей."
    },
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "«ВЭБ Инновации» проинвестирует в StartTrack 200 млн рублей. Сегодня через площадку StartTrack проходит 60% коллективных инвестиций в РФ в малый и средний бизнес. Инвестиционный потенциал площадки и 2000 аккредитованных инвесторов превышает 7 миллиардов рублей."
    },
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "«ВЭБ Инновации» проинвестирует в StartTrack 200 млн рублей."
    },
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "За 2,5 года площадка StartTrack привлекла в 39 компаний более 940 млн рублей. Площадка является посредником, предоставляет сервис и инфраструктуру, а договорные отношения между инвесторами и компаниями-заемщиками регулируются ГК РФ."
    },
    {
      href: "reviews.html",
      classMod: "",
      title: "Артем Коновалов",
      pos: "Начинающий инвестор",
      description: "«ВЭБ Инновации» проинвестирует в StartTrack 200 млн рублей. Сегодня через площадку StartTrack проходит 60% коллективных инвестиций в РФ в малый и средний бизнес. Инвестиционный потенциал площадки и 2000 аккредитованных инвесторов превышает 7 миллиардов рублей."
    }
  ];


section.testimonials

  .container

    .testimonials__row.wow.wowFadeUp(data-animation-delay="0.5s")

      include ../../macros/_testimonialsBlock


  .container
    a.testimonials__btn.btn.btn--big.wow.wowFadeUp(data-animation-delay="0.5s" href="#" title!="" class!= "")!= "Показать еще"


// TESTIMONIALS :: END
