// MAIN

.howWeEarn
  .main
    padding-top: 93px
    background-color: $c-whiteSmoke
    +r(767)
      padding-top: 46px


    &__title
      padding-bottom: 38px
      +r(767)
        padding-bottom: 20px


    &__subtitle
      width: 100%
      max-width: 690px
      padding-bottom: 124px
      +r(767)
        padding-bottom: 62px


    &__text
      padding-bottom: 20px
      font-size: 18px
      font-weight: 600


    &__row
      display: flex
      padding-bottom: 107px
      +r(767)
        flex-direction: column
        padding-bottom: 53px

      &-left,
      &-right
        display: flex
        width: 50%
        +r(767)
          width: 100%
          padding-bottom: 30px

          &:last-child
            padding-bottom: 0

      &-wrap
        display: flex
        width: 100px

      p
        width: calc(100% - 103px)
        padding-right: 50px
        font-size: 16px
        font-weight: 500
        font-style: italic
        +r(767)
          padding-right: 0


    &__tabs
      overflow: hidden
      display: flex
      align-items: flex-end
      min-height: 201px
      +r(767)
        min-height: 170px
      +r(575)
        flex-direction: column


      &-btn
        position: relative
        display: flex
        justify-content: space-between
        width: 50%
        min-height: 201px
        padding: 30px
        background-color: $c-LightSeaGreen
        animation-fill-mode: backwards
        +transition(min-height, background-color)
        +r(767)
          min-height: 170px
        +r(575)
          width: 100%

        span
          line-height: 1
          color: $c-white
          font-weight: 600
          +rmin(320)
            font-size: 25px
          +rmin(768)
            font-size: 28px
          +rmin(992)
            font-size: 33px
          +rmin(1200)
            font-size: 36px
          +r(575)
            font-size: 20px

        i
          +r(767)
            display: none
          +r(575)
            display: block
            transform: scale(0.75)

        &.is-active
          min-height: 158px
          background-color: $c-royalBlue
          +transition(min-height, background-color)
          transition-duration: 0s

          span
            opacity: 0.5

          +r(767)
            min-height: 128px


// \ MAIN