// HEADER :: START


-
  var headerBarNav = [
    {
      href: 'blog.html',
      name: 'Блог'
    },
    {
      href: 'press.html',
      name: 'Пресса о нас'
    },
    {
      href: 'contacts.html',
      name: 'Контакты'
    },
    {
      href: 'reviews.html',
      name: 'Отзывы'
    }
  ];
  var headerWrapperNav = [
    {
      href: 'about.html',
      name: 'О фонде'
    },
    {
      href: 'howWeEarn.html',
      name: 'Как мы зарабатываем'
    },
    {
      href: 'investors.html',
      name: 'Инвесторам'
    },
    {
      href: 'faq.html',
      name: 'FAQ'
    }
  ];
  var headerLang = [
    {
      href: '#',
      name: 'EN'
    }
  ];



header.header
  .header__bar
    .container
      .header__bar-row
        .header__bar-left
          +lang(headerLang)

        .header__bar-middle
          +headerNav("bar", headerBarNav)

        .header__bar-right
          +phoneNum("header", "+7 495 777 40 05")

  .header__wrapper
    .container
      .header__wrapper-row
        .header__wrapper-left
          +logotype()

        .header__wrapper-middle
          +headerNav("wrapper", headerWrapperNav)

        .header__wrapper-right
          a.parlor(href="cabinet.html" title!="" class!="")
            i.parlor__icon.icon-parlor
            != "Кабинет"

        .header__wrapper-mobile
          +hamburger()

        
// HEADER :: END
