---
title: Winance - О фонде
bodyClass: about
---
extends shared/_layout
block content

  .about
    include components/about/_main
    include components/about/_reasons
    include components/about/_info-0
    include components/about/_guarantees
    include components/about/_info-1
    include macros/_advice