---
title: Winance - Блог Детали
pageName: blogDetails
---
extends shared/_layout
block content

  div(class!= pageName)
    include components/blogDetails/_info
    include components/blogDetails/_blogs