---
title: Winance - Мой счет
pageName: cabinetBill
---
extends shared/_layout
block content

  .cabinet
    include components/cabinet/_main
    include components/cabinet/_calc
    include components/cabinet/_guarantees
