---
title: Winance - Партнерская программа
pageName: cabinetPartners
---
extends shared/_layout
block content

  .cabinet
    include components/cabinet/_main
    include components/cabinet/_partners
