---
title: Winance - Мой счет подтверждение
pageName: cabinetBillConfirmation
---
extends shared/_layout
block content

  .cabinet
    include components/cabinet/_main
    include components/cabinet/_billConfirmation
