---
title: Winance
---
extends shared/_layout
block content

  .homepage
    include components/homepage/_main
    include components/homepage/_reasons
    include components/homepage/_calc
    include components/homepage/_technology
    include components/homepage/_investors
    include components/homepage/_print
    include components/homepage/_testimonials
    include macros/_advice
    include components/homepage/_blogs
