---
title: Winance - Как мы зарабатываем
---
extends shared/_layout
block content

  .howWeEarn
    include components/howWeEarn/_main
    include components/howWeEarn/_video
    include macros/_advice
