---
title: Winance - Инвесторам
---
extends shared/_layout
block content

  .investors
    include components/investors/_main
    include components/investors/_calc
    include components/investors/_transparency
    include components/investors/_guarantees
    include components/investors/_info-0
    include macros/_advice
