// LINK

.contacts
  .link
    padding-top: 125px
    background-color: $c-whiteSmoke
    +r(767)
      padding-top: 62px


    &__title
      padding-bottom: 27px


    &__row
      display: flex
      align-items: flex-end


    &__block
      width: calc(100% / 4)

      &-0
        .link__block-box
          height: 114px
          background-color: rgba($c-royalBlue, 0.84)

      &-1
        .link__block-box
          height: 152px
          background-color: rgba($c-royalBlue, 0.91)

      &-2
        .link__block-box
          height: 202px
          background-color: rgba($c-royalBlue, 0.95)

      &-3
        .link__block-box
          height: 245px
          background-color: $c-LightSeaGreen

      &-info
        padding-bottom: 9px
        font-size: 18px

      &-title
        display: block
        color: $c-royalBlue
        font-size: 24px
        font-weight: 600

      &-additional
        font-style: italic

      &-box
        display: flex
        padding: 30px
        margin-top: 34px

      &-icon


// \ LINK