// VIDEO :: START


.video
  .container

    h2.video__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.3s")!= "Посмотрите на видеозаписи наших личных <br>кабинетов и убедитесь, что наши <br>технологии работают."

    .video__container.wow.wowFadeUp(data-animation-delay="0.4s")
      iframe(src="https://www.youtube.com/embed/Hh9yZWeTmVM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

        
// VIDEO :: END
