// VIDEO :: START


.video
  .container

    h2.video__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.3s")!= "Посмотрите на видеозаписи наших личных кабинетов и убедитесь, что наши технологии работают."

    .video__container.wow.wowFadeUp(data-animation-delay="0.4s")

        
// VIDEO :: END
