// VIDEO :: START


.video
  .container

    h2.video__subtitle.subtitle!= "Посмотрите на видеозаписи наших личных кабинетов и убедитесь, что наши технологии работают."

    .video__container

        
// VIDEO :: END
