// INVESTORS

.investors
  position: relative

  .calc
    +r(575)
      .container
        padding-left: 0
        padding-right: 0
      .calc__title
        padding-left: 15px
        padding-right: 15px


  &__bg
    +r(767)
      display: none

    &-top,
    &-bottom
      z-index: 0
      position: absolute
      left: 0
      width: 100%

    &-top
      top: 0
      height: 80%
      background-color: $c-whiteSmoke

    &-bottom
      bottom: 0
      height: 20%



  .container
    z-index: 1
    position: relative
    +r(575)
      padding-left: 0
      padding-right: 0


  &__title
    padding-bottom: 66px
    +rmin(768)
      padding-bottom: 46px
    +rmin(992)
      padding-bottom: 66px


  &__row
    display: flex
    +rmin(320)
      flex-direction: column-reverse
    +rmin(768)
      flex-direction: row

    &-left,
    &-right
      width: 50%
      +r(767)
        width: 100%

    &-left
      padding-bottom: 103px
      +r(575)
        padding-left: 20px
        padding-right: 20px
      +rmin(768)
        padding-top: 112px
      +rmin(1200)
        padding-top: 179px

    &-right
      +rmin(768)
        padding-left: 30px
        padding-right: 30px
      +rmin(992)
        padding-left: 50px
        padding-right: 50px


  &__col
    display: flex
    +rmin(320)
      flex-direction: column
      padding-bottom: 30px
    +rmin(768)
      padding-bottom: 46px
    +rmin(992)
      flex-direction: row
      padding-bottom: 56px

    &-left,
    &-right
      width: 268px
      +r(767)
        width: 100%
      +rmin(320)
        padding-bottom: 30px
      +rmin(992)
        margin-right: 36px

      p
        font-size: 18px


  &__btn
    margin-left: 0


  &__img
    display: block
    max-width: 100%
    height: auto
    margin-left: auto
    margin-right: auto
    +r(575)
      max-width: 100%

    &--des
      display: none
      +r(767)
        max-width: 70%
      +rmin(576)
        display: block
    &--mob
      display: none
      +r(575)
        display: block
        margin-top: 30px
        width: 100%
        object-fit: contain


// \ INVESTORS