// INVESTORS

.investors
  position: relative


  &__bg
    &-top,
    &-bottom
      z-index: 0
      position: absolute
      left: 0
      width: 100%

    &-top
      top: 0
      height: 80%
      background-color: $c-whiteSmoke

    &-bottom
      bottom: 0
      height: 20%


  .container
    z-index: 1
    position: relative


  &__title
    padding-bottom: 66px


  &__row
    display: flex

    &-left,
    &-right
      width: 50%

    &-left
      padding-top: 179px
      padding-bottom: 103px

    &-right
      display: flex
      justify-content: center


  &__col
    display: flex
    padding-bottom: 56px

    &-left,
    &-right
      width: 268px
      margin-right: 36px

      p
        font-size: 18px


  &__btn
    margin-left: 0


  &__img
    display: flex
    max-width: 100%
    height: auto


// \ INVESTORS