// TECHNOLOGY


.technology
  padding-top: 106px
  +r(767)
    padding-top: 53px


  &__wrapper
    &--1
      padding-top: 48px
      padding-bottom: 111px
      background-color: $c-whiteSmoke
      +r(767)
        padding-top: 24px
        padding-bottom: 55px


  &__title
    padding-bottom: 48px
    +r(767)
      padding-bottom: 24px


  &__subtitle
    padding-bottom: 33px
    font-size: 18px
    +r(767)
      padding-bottom: 20px

    strong
      font-weight: 700


  &__text
    padding-bottom: 33px
    +r(767)
      padding-bottom: 20px


  &__box
    padding-bottom: 52px


  &__row
    width: 100%
    max-width: 999px
    padding-bottom: 26px

    &-date
      &:nth-child(2)
        padding-right: 38px

      div
        display: flex
        justify-content: space-between

      p
        font-size: 36px

    &-line
      display: flex

      span
        cursor: pointer
        width: 6px
        height: 1px
        margin-left: 2px
        margin-right: 2px
        background-color: $c-nobel

    &-icon
      display: flex
      padding-right: 30px

    &-wrap
      display: flex

      &--0
        align-items: center
        justify-content: space-between
        padding-bottom: 23px

      &--1
        justify-content: space-between

        p
          width: calc(100% / 5)
          font-size: 18px
          font-weight: 700
          color: rgba($c-blueZodiac, 0.5)

          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5)
            display: flex
            justify-content: flex-end

          &:nth-child(3)
            color: $c-blueZodiac


  &__col
    display: flex

    &-0
      padding-bottom: 50px
      .technology__col-left
        p
          padding-top: 37px
          max-width: 408px
      .technology__col-right
        p
          margin-left: 237px
          max-width: 365px

    &-1
      .technology__col-left
        p
          max-width: 372px
      .technology__col-right
        p
          max-width: 348px
          color: $c-blueZodiac


    &-left,
    &-right
      p
        width: 100%
        color: rgba($c-blueZodiac, 0.4)
        font-size: 16px

    &-left
      width: 40%

    &-right
      width: 60%



// \ TECHNOLOGY
