// TECHNOLOGY


.technology
  padding-top: 106px
  +r(767)
    padding-top: 53px


  &__wrapper
    &--1
      padding-top: 48px
      padding-bottom: 111px
      background-color: $c-whiteSmoke
      +r(767)
        padding-top: 24px
        padding-bottom: 55px


  &__title
    padding-bottom: 48px
    +r(767)
      padding-bottom: 24px


  &__subtitle
    padding-bottom: 33px
    font-size: 18px
    +r(991)
      display: none

    strong
      font-weight: 700


  &__text
    padding-bottom: 33px
    +r(767)
      padding-bottom: 20px

    &--mobile
      display: none
      padding-bottom: 0
      +r(991)
        display: block


  &__box
    overflow: hidden
    position: relative
    display: flex
    align-items: flex-end
    min-height: 243px
    left: 50%
    transform: translateX(-50%)
    margin-left: auto
    margin-right: auto
    margin-bottom: 52px
    +r(991)
      display: none
    +rmin(768)
      width: 100%
    +rmin(1200)
      width: 2560px


    &-right
      display: flex
      align-items: flex-end
      position: absolute
      right: 0
      +r(1199)
        display: none

    &-left
      display: flex
      align-items: flex-end
      position: absolute
      left: 0
      +r(1199)
        display: none

    .container
      display: flex
      align-items: flex-end
      position: absolute
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      max-width: 100%
      padding-left: 0
      padding-right: 0
      +rmin(768)
        width: 100%
      +rmin(1200)
        width: 1200px

  &__block
    cursor: pointer
    width: 120px
    +transition(opacity)

    &.is-opacity
      opacity: 0.5
      +transition(opacity)

    &--40
      .technology__block-top
        height: 32px !important
        background-color: rgba($c-royalBlue, 0.40) !important
      .technology__block-bottom
        background-color: $c-LightSeaGreen !important
    &--50
      .technology__block-top
        height: 42px
        background-color: rgba($c-royalBlue, 0.50) !important
    &--60
      .technology__block-top
        height: 52px
        background-color: rgba($c-royalBlue, 0.60) !important
    &--70
      .technology__block-top
        height: 62px
        background-color: rgba($c-royalBlue, 0.70) !important
    &--80
      .technology__block-top
        height: 72px
        background-color: rgba($c-royalBlue, 0.80) !important
    &--90
      .technology__block-top
        height: 82px
        background-color: rgba($c-royalBlue, 0.90) !important
    &--light
      .technology__block-top
        background-color: rgba($c-royalBlue, 0.94)
      .technology__block-bottom
        background-color: rgba($c-LightSeaGreen, 0.88)
    &--half
      width: 80px
      .technology__block-top
        height: 162px
        background-color: rgba($c-royalBlue, 0.94)
      .technology__block-bottom
        background-color: rgba($c-LightSeaGreen, 0.88)
    &--half.technology__block--light
      width: 80px
      .technology__block-top
        height: 162px
        background-color: rgba($c-royalBlue, 0.94)
      .technology__block-bottom
        background-color: rgba($c-LightSeaGreen, 0.88)
    &--big.technology__block--light
      .technology__block-top
        height: 162px
        background-color: rgba($c-royalBlue, 0.94)
      .technology__block-bottom
        background-color: rgba($c-LightSeaGreen, 0.88)
    &--big
      .technology__block-top
        height: 162px
        background-color: $c-royalBlue
      .technology__block-bottom
        background-color: $c-LightSeaGreen
    &--small
      .technology__block-top
        height: 45px
        background-color: rgba($c-royalBlue, 0.66)
      .technology__block-bottom
        background-color: $c-LightSeaGreen

    &-top,
    &-bottom
      > p
        padding-top: 11px
        padding-left: 10px
        color: $c-white
        +r(991)
          font-size: 12px

    &-top
      height: 92px
      background-color: $c-royalBlue

    &-bottom
      height: 44px
      background-color: $c-LightSeaGreen

    > p
      display: flex
      align-items: center
      padding-bottom: 15px
      font-size: 16px
      font-weight: 700
      +r(991)
        font-size: 14px
      +rmin(1200)
        white-space: nowrap

      i
        margin-left: 10px
        margin-right: 5px


  &__row
    width: 100%
    max-width: 999px
    padding-bottom: 26px
    +r(991)
      display: none

    &-date
      width: 120px
      &:nth-child(2)
        padding-right: 38px

      &.is-hover
        + .technology__row-line
          span
            background-color: $c-blueZodiac
            +transition(background-color)

      div
        display: flex
        justify-content: space-between
        padding-right: 35px

      p
        font-size: 36px

    &-line
      display: flex
      align-items: center

      span
        cursor: pointer
        width: 6px
        height: 1px
        margin-left: 2px
        margin-right: 2px
        background-color: $c-nobel
        +transition(background-color)

    &-icon
      display: flex
      align-items: center
      padding-right: 30px
      opacity: 0.3
      +transition(opacity)

      &:hover
        opacity: 1
        +transition(opacity)

        + .technology__row-line
          span
            background-color: $c-blueZodiac
            +transition(background-color)

      &.is-hover
        opacity: 1
        +transition(opacity)

        + .technology__row-line
          span
            background-color: $c-blueZodiac
            +transition(background-color)


    &-wrap
      display: flex

      > div
        cursor: pointer
        height: 100%

      &--0
        align-items: center
        justify-content: space-between
        height: 83px
        //padding-bottom: 23px

      &--1
        p
          cursor: pointer
          padding-top: 23px
          font-size: 18px
          font-weight: 700
          color: rgba($c-blueZodiac, 0.5)
          +transition(color)

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3)
            width: 240px

          &:nth-child(4)
            width: 120px
            padding-right: 10px

          &:nth-child(5)
            padding-left: 15px

          &:hover
            color: $c-blueZodiac
            +transition(color)

          &.is-hover
            color: $c-blueZodiac
            +transition(color)


  &__col
    display: flex
    +r(991)
      display: none

    p
      cursor: pointer
      +transition(color)
      &:hover
        color: $c-blueZodiac
        +transition(color)
      &.is-hover
        color: $c-blueZodiac
        +transition(color)


    &-0
      padding-bottom: 50px
      .technology__col-left
        p
          padding-top: 37px
          max-width: 408px
      .technology__col-right
        p
          margin-left: 250px
          max-width: 365px

    &-1
      .technology__col-left
        p
          max-width: 372px
      .technology__col-right
        p
          max-width: 348px


    &-left,
    &-right
      p
        width: 100%
        color: rgba($c-blueZodiac, 0.4)
        font-size: 16px

    &-left
      width: 40%

    &-right
      width: 60%



// \ TECHNOLOGY
