// RISKS

.risks
  padding-top: 52px
  padding-bottom: 68px
  +r(767)
    padding-top: 26px
    padding-bottom: 34px


  &__title
    padding-bottom: 40px
    font-size: 18px
    font-weight: 600
    +r(767)
      padding-bottom: 20px


  &__block
    display: flex
    padding: 17px 20px
    margin-bottom: 20px
    background-color: $c-whiteSmoke

    &:last-child
      margin-bottom: 0

    &-left
      width: 408px

      p
        font-size: 18px

    &-right
      width: calc(100% - 408px)
      padding-right: 105px

      p
        font-size: 18px
        font-weight: 700

      ul
        padding-top: 20px
        padding-left: 30px

        li
          padding-bottom: 10px
          font-size: 16px

// \ RISKS