// BLOGS :: START


-
  var blockData = [
    {
      attr: "business",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'От эффективности вашего поведения на рынке зависит ваш заработок. Поэтому придерживаться правильной политики при трейдинге – значит обеспечить себе доход. Выбрать ее достаточно сложно, так как экономика никогда не стоит на месте, все постоянно меняется.',
      badgeArr: [
        '<span>#</span>&nbsp;Бизнес'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "business & news",
      href: "blogDetails.html",
      classMod: 'image',
      imgName: './img/img-block__blogs.png',
      title: 'Самые лучшие <br>и прибыльные стратегии <br>бинарных опционов',
      text: 'Содержание Долгосрочный план действий. Краткосрочная политика. Практика. Альтернативный способ вложений. Долгосрочный план действий Мы начнем с самых надежных.',
      badgeArr: [
      '<span>#</span>&nbsp;Бизнес',
      '<span>#</span>&nbsp;Новости'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "business & news",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'Отметим, что все приведенные цифры приблизительны и могут отличаться в зависимости от региона. Итак, обратимся к первичной информации: Первоначальные вложения составят около 2 миллионов. Окупаемость – порядка двух лет. Необходимая площадь...',
      badgeArr: [
      '<span>#</span>&nbsp;Бизнес',
      '<span>#</span>&nbsp;Новости'
      ],
      date: '12 августа 2018'
    }
  ];


section.blogs
  .container

    p.blogs__subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Еще в блоге"

    .blogs__row.wow.wowFadeUp(data-animation-delay="0.5s")

      include ../../macros/_blogsBlock

  .container
    a.blogs__btn.blogs__btn--blogDetails.btn.btn--big.wow.wowFadeUp(data-animation-delay="0.6s" href="blog.html" title!="" class!= "")!= "Показать все"

        
// BLOGS :: END
