// MAIN :: START


section.main
  .container

    h1.main__title.title!= "Пресса о нас"
    h2.main__subtitle.subtitle!= "Следите за публикациями о нашем фонде в отраслевых изданиях или читайте свежие материалы прямо здесь."

        
// MAIN :: END
