// HEADER

.header
  &__bar
    min-height: 40px
    background-color: $c-blueZodiac
    +r(767)
      display: none

    .nav__link,
    .lang__link,
    .phone__link
      display: flex
      align-items: center
      justify-content: center
      min-height: 40px
      +transition(color)

      &:hover
        color: darken($c-white, 25%) !important
        +transition(color)


    &-row
      display: flex
      align-items: center
      justify-content: space-between
      min-height: 40px


    &-left
      display: flex
      width: 130px


    &-middle
      display: flex
      justify-content: center
      width: calc(100% - (130px + 130px))


    &-right
      display: flex
      justify-content: flex-end
      width: 130px


  &__wrapper
    min-height: 107px
    background-color: $c-whiteSmoke
    +r(767)
      min-height: 90px


    &-row
      display: flex
      align-items: center
      justify-content: space-between
      min-height: 107px
      +r(767)
        min-height: 90px


    &-left
      +rmin(768)
        width: 150px
      +rmin(992)
        width: 200px


    &-middle
      display: flex
      justify-content: center
      min-height: 107px
      +r(767)
        display: none
      +rmin(768)
        width: calc(100% - (150px + 100px))
      +rmin(992)
        width: calc(100% - (200px * 2))

      .nav__link
        overflow: hidden
        position: relative
        display: flex
        align-items: center
        justify-content: center
        min-height: 107px
        +transition(color)

        &:hover
          color: lighten($c-royalBlue, 15%)
          +transition(color)

          &:before
            transform: translateY(0)
            background-color: $c-royalBlue
            +transition(transform, background-color)

        &:before
          content: ""
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 3px
          background-color: transparent
          transform: translateY(-3px)
          +transition(transform, background-color)


    &-right
      display: flex
      justify-content: flex-end
      min-height: 107px
      +r(767)
        display: none
      +rmin(768)
        width: 100px
      +rmin(992)
        width: 200px

    &-mobile
      display: none
      +r(767)
        display: flex
        justify-content: flex-end

// \ HEADER
