// INDEX

// PHONE
.phone
  padding-bottom: 36px


  &__link
    font-weight: 600
    +transition(color)

    &:hover
      color: $c-royalBlue
      +transition(color)
// \ PHONE


// DESIGN BY
.designBy
  cursor: pointer

  &:hover
    a
      color: $c-blueZodiac
      +transition(color)


  &__text
    a
      color: $c-royalBlue
      +transition(color)
// \ DESIGN BY