// INDEX

// MAIN TITLE
.title
  font-size: 45px
  +rmin(320)
    font-size: 25px
  +rmin(992)
    font-size: 30px
  +rmin(1200)
    font-size: 35px
  +rmin(1440)
    font-size: 40px
// \ MAIN TITLE


// BTN
.btn
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  min-width: 200px
  height: 50px
  margin-left: auto
  margin-right: auto
  text-align: center
  color: $c-royalBlue
  font-size: 18px
  border-radius: 25px
  border: 2px solid rgba($c-royalBlue, 0.5)
  +transition(border-color)

  &:hover
    border-color: $c-royalBlue
    +transition(border-color)

  &--big
    max-width: 385px
// \ BTN


// PHONE
.phone
  &.phone--footer
    padding-bottom: 36px
  &.phone--header
    .phone__link
      color: $c-white


  &__link
    font-weight: 600
    +transition(color)

    &:hover
      color: $c-royalBlue
      +transition(color)
// \ PHONE


// DESIGN BY
.designBy
  cursor: pointer

  &:hover
    a
      color: $c-blueZodiac
      +transition(color)


  &__text
    a
      color: $c-royalBlue
      +transition(color)
// \ DESIGN BY
