// GUARANTEES :: START


.guarantees
  .container

    h1.guarantees__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Гарантии"

    .guarantees__row

      include ../common/_guaranteesBox


// GUARANTEES :: END