// MAIN :: START


section.main.main--1
  .container

    h1.main__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Зарабатывайте уверенно"
    h2.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Пятилетний опыт команды фонда позволяет минимизировать даже гипотетические риски — за счет постоянной аналитической работы, серьезных профилактических мер и личной ответственности каждого сотрудника."

        
// MAIN :: END
