// MAIN :: START


section.main.main--2
  .container

    h1.main__title.title.title--wrap!= "Конфиденциальность"
    h2.main__subtitle.subtitle!= "Информация об инвесторах является строго конфиденциальной. Мы берем на себя обязательства о неразглашении ее третьим лицам, за исключением случаев, предусмотренных действующим законодательством."

        
// MAIN :: END
