// MAIN :: START


section.main.main--0
  .container

    h1.main__title.title!= "О фонде"
    h2.main__subtitle.subtitle!= "Профессионализм команды и наработанный опыт позволили нам создать технологичный и надежный инструмент для инвесторов, обеспечивающий стабильный заработок и гарантирующий заявленные размеры дивидендов."

        
// MAIN :: END
