// INVESTORS :: START


.investors

  .investors__bg
    .investors__bg-top
    .investors__bg-bottom

  .container

    .investors__row
      .investors__row-left
        h1.investors__title.title!= "Ваши инвестиции <br>в ваших руках"

        .investors__col
          .investors__col-left
            p!= "Быстрый доступ в личный кабинет с любого устройства."
          .investors__col-right
            p!= "Следите за постоянным приростом ваших доходов."

        a.investors__btn.btn.btn--color(href="#")!= "Попробовать"

      .investors__row-right
        img.investors__img(src="./img/img-bg-investors__homepage.png" srcset="./img/img-bg-investors__homepage@2x.png 2x" title="" class="")


// INVESTORS :: END