// MAIN :: START


.main

  .main__line-wrap(main-line-js)
    .main__line-box

  .container

    .main__row
      .main__row-left
        h1.main__title.title!= "Инвестиционный <br>спортивный фонд <br>Winance"

        a.main__btn.btn.btn--color(href="" title!="")!= "Станьте инвестором"

      .main__row-right

        a.main__play(href="#" title="")
          i.icon-play
          .main__play-wrap
            p!= "Посмотрите!"
            p!= "Как мы работаем"


        
// MAIN :: END
