// MAIN :: START


section.main
  .container

    .main__row
      .main__row-left
        h1.main__title.title!= "Вопросы и ответы"
        h2.main__subtitle.subtitle!= "В этом разделе вы найдете подробные ответы на самые распространенные вопросы. Если вы пока не нашли ответа на свой вопрос — спрашивайте!"

      .main__row-right
        a.main__btn.btn.btn--color(href="#" title!="" class!= "")!= "Задать вопрос"

// MAIN :: END