// MAIN :: START

.blog
  section.main
    .container

      h1.main__title.title!= "Блог"
      h2.main__subtitle.subtitle!= "Читайте обо всем, что касается инвестиций – обзоры, мнения экспертов, истории успеха. Делимся ценной информацией с теми, кто готов инвестировать и зарабатывать вместе с нами."

        
// MAIN :: END
