$sprite: (
	arrows: (
		offset-x: -179px,
		offset-y: 0px,
		width: 27px,
		height: 24px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	email: (
		offset-x: -44px,
		offset-y: -110px,
		width: 32px,
		height: 22px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	flag: (
		offset-x: -179px,
		offset-y: -66px,
		width: 15px,
		height: 21px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	fr: (
		offset-x: -149px,
		offset-y: -43px,
		width: 18px,
		height: 10px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	gr: (
		offset-x: -179px,
		offset-y: -123px,
		width: 18px,
		height: 10px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	parlor: (
		offset-x: -179px,
		offset-y: -97px,
		width: 17px,
		height: 16px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	phone: (
		offset-x: -149px,
		offset-y: 0px,
		width: 20px,
		height: 33px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	play: (
		offset-x: 0px,
		offset-y: 0px,
		width: 100px,
		height: 100px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	racket: (
		offset-x: -179px,
		offset-y: -34px,
		width: 22px,
		height: 22px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	skype: (
		offset-x: -110px,
		offset-y: 0px,
		width: 29px,
		height: 34px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	telegram: (
		offset-x: 0px,
		offset-y: -110px,
		width: 34px,
		height: 28px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
	user: (
		offset-x: -110px,
		offset-y: -44px,
		width: 28px,
		height: 30px,
		total-width: 206px,
		total-height: 138px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-arrows {
		@include sprite(arrows)
	}
	.icon-email {
		@include sprite(email)
	}
	.icon-flag {
		@include sprite(flag)
	}
	.icon-fr {
		@include sprite(fr)
	}
	.icon-gr {
		@include sprite(gr)
	}
	.icon-parlor {
		@include sprite(parlor)
	}
	.icon-phone {
		@include sprite(phone)
	}
	.icon-play {
		@include sprite(play)
	}
	.icon-racket {
		@include sprite(racket)
	}
	.icon-skype {
		@include sprite(skype)
	}
	.icon-telegram {
		@include sprite(telegram)
	}
	.icon-user {
		@include sprite(user)
	}
