$sprite: (
	arrows: (
		offset-x: -180px,
		offset-y: -83px,
		width: 27px,
		height: 24px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	clock: (
		offset-x: -124px,
		offset-y: -159px,
		width: 14px,
		height: 14px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	diagram: (
		offset-x: -61px,
		offset-y: -110px,
		width: 50px,
		height: 39px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	down: (
		offset-x: -160px,
		offset-y: -110px,
		width: 9px,
		height: 11px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	email: (
		offset-x: 0px,
		offset-y: -159px,
		width: 32px,
		height: 22px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	flag: (
		offset-x: -154px,
		offset-y: -70px,
		width: 15px,
		height: 21px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	fr: (
		offset-x: -148px,
		offset-y: -159px,
		width: 18px,
		height: 10px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	gr: (
		offset-x: -176px,
		offset-y: -159px,
		width: 18px,
		height: 10px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	logout: (
		offset-x: -97px,
		offset-y: -159px,
		width: 17px,
		height: 16px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	parlor: (
		offset-x: -70px,
		offset-y: -159px,
		width: 17px,
		height: 16px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	people: (
		offset-x: 0px,
		offset-y: -110px,
		width: 51px,
		height: 39px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	phone: (
		offset-x: -180px,
		offset-y: -40px,
		width: 20px,
		height: 33px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	play: (
		offset-x: 0px,
		offset-y: 0px,
		width: 100px,
		height: 100px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	plus: (
		offset-x: -110px,
		offset-y: 0px,
		width: 60px,
		height: 60px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	pointer: (
		offset-x: 0px,
		offset-y: -191px,
		width: 12px,
		height: 11px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	racket: (
		offset-x: -180px,
		offset-y: -117px,
		width: 22px,
		height: 22px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	score: (
		offset-x: -42px,
		offset-y: -159px,
		width: 18px,
		height: 20px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	skype: (
		offset-x: -121px,
		offset-y: -110px,
		width: 29px,
		height: 34px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	telegram: (
		offset-x: -110px,
		offset-y: -70px,
		width: 34px,
		height: 28px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	up: (
		offset-x: -160px,
		offset-y: -131px,
		width: 9px,
		height: 11px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
	user: (
		offset-x: -180px,
		offset-y: 0px,
		width: 28px,
		height: 30px,
		total-width: 208px,
		total-height: 202px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-arrows {
		@include sprite(arrows)
	}
	.icon-clock {
		@include sprite(clock)
	}
	.icon-diagram {
		@include sprite(diagram)
	}
	.icon-down {
		@include sprite(down)
	}
	.icon-email {
		@include sprite(email)
	}
	.icon-flag {
		@include sprite(flag)
	}
	.icon-fr {
		@include sprite(fr)
	}
	.icon-gr {
		@include sprite(gr)
	}
	.icon-logout {
		@include sprite(logout)
	}
	.icon-parlor {
		@include sprite(parlor)
	}
	.icon-people {
		@include sprite(people)
	}
	.icon-phone {
		@include sprite(phone)
	}
	.icon-play {
		@include sprite(play)
	}
	.icon-plus {
		@include sprite(plus)
	}
	.icon-pointer {
		@include sprite(pointer)
	}
	.icon-racket {
		@include sprite(racket)
	}
	.icon-score {
		@include sprite(score)
	}
	.icon-skype {
		@include sprite(skype)
	}
	.icon-telegram {
		@include sprite(telegram)
	}
	.icon-up {
		@include sprite(up)
	}
	.icon-user {
		@include sprite(user)
	}
