// INVESTMENT

.cabinet
  .investment

    &--finish
      padding-top: 139px
      padding-bottom: 281px
      +r(767)
        padding-top: 68px
        padding-bottom: 140px

      .investment__title
        margin-top: 17px
        text-align: center

      .investment__box
        overflow: hidden
        position: relative
        display: flex
        align-items: flex-end
        width: calc(67px * 8)
        min-height: 305px
        margin-left: auto
        margin-right: auto
        +r(767)
          width: auto
          min-height: auto

        &-line
          width: 67px
          animation-name: slideInUp
          +r(767)
            display: none

          &--0
            height: 98px
            background-color: rgba($c-LightSeaGreen, 0.12)
          &--1
            height: 180px
            background-color: rgba($c-LightSeaGreen, 0.3)
          &--2
            height: 208px
            background-color: rgba($c-LightSeaGreen, 0.45)
          &--3
            height: 180px
            background-color: rgba($c-LightSeaGreen, 0.3)
          &--4
            height: 228px
            background-color: rgba($c-LightSeaGreen, 0.54)
          &--5
            height: 305px
            background-color: rgba($c-LightSeaGreen, 0.82)
          &--6
            height: 195px
            background-color: rgba($c-LightSeaGreen, 0.45)
          &--7
            height: 154px
            background-color: rgba($c-LightSeaGreen, 0.17)

        a
          position: absolute
          left: 0
          right: 0
          bottom: 58px
          +r(767)
            position: static

    &--puy
      padding-top: 66px
      padding-bottom: 241px
      +r(767)
        padding-top: 33px
        padding-bottom: 120px

      .investment__form
        padding: 30px 20px
        background-color: $c-whiteSmoke

        &-wrap
          display: flex
          align-items: center
          padding-bottom: 62px
          +r(767)
            flex-wrap: wrap
            padding-bottom: 31px

          > p
            line-height: 1
            +r(767)
              width: 100%
              padding-bottom: 5px

        &-title
          margin-right: 71px
          font-size: 24px
          font-weight: 600
          +r(767)
            font-size: 20px

        &-row
          display: flex
          +r(767)
            flex-wrap: wrap

        &-left
          +rmin(768)
            padding-right: 15px
        &-right
          +rmin(768)
            padding-left: 15px

        &-left,
        &-right
          width: 50%
          +r(767)
            width: 100%

          .form__field-btn
            width: 100%
            max-width: 470px
            padding-top: 27px

          .form__field
            max-width: 470px
            margin-bottom: 20px

            &--custom
              .form__input
                padding-right: 175px
              .form__label
                width: 175px

    &--new,
    &--tabs
      padding-top: 66px
      padding-bottom: 264px
      +r(767)
        padding-top: 33px
        padding-bottom: 132px

      .cabinet__title
        padding-bottom: 0

      .investment__row
        display: flex
        justify-content: space-between

        &-wrap
          display: flex
          width: 100%
          max-width: 308px
          +r(767)
            z-index: 1
            position: fixed
            bottom: 0
            left: 0
            right: 0
            width: 100%
            max-width: 100%
            height: 90px
            padding: 20px
            background-color: rgba($c-white, 0.95)

        > a
          margin: 0


        &--0
          padding-bottom: 35px

        &--1
          padding-bottom: 27px

      .investment__container
        margin-bottom: 40px


    &__pagination
      &-list
        display: flex
        flex-wrap: wrap

      &-item
        display: flex
        align-items: center
        padding-bottom: 10px
        +r(767)
          &:nth-child(1)
            //width: 100%

      &-link
        display: flex
        align-items: center
        justify-content: center
        height: 32px
        border-radius: 3px
        border: 1px solid rgba($c-royalBlue, 0.2)
        margin-right: 10px
        padding-left: 10px
        padding-right: 10px
        color: $c-royalBlue
        text-align: center
        font-size: 18px
        +transition(border-color, background-color, color)
        +r(767)
          font-size: 16px

        &:hover
          border-color: $c-royalBlue
          +transition(border-color)
        &.is-active
          border-color: transparent
          background-color: rgba($c-blueZodiac, 0.24)
          color: $c-blueZodiac
          +transition(border-color, background-color, color)

        &--active
          color: $c-LightSeaGreen
        &--close
          color: $c-bittersweet



    &__block
      display: flex
      flex-direction: column
      min-height: 266px
      background-color: $c-whiteSmoke

      &--active
        .investment__block-badge
          background-color: $c-apple
      &--close
        .investment__block-badge
          background-color: $c-bittersweet


      &-header
        position: relative
        display: flex
        align-items: flex-end
        justify-content: space-between
        height: 80px
        +r(767)
          flex-wrap: wrap
          flex-direction: column
          justify-content: flex-end
          height: 140px

      &-badge
        display: flex
        align-items: center
        z-index: 1
        position: absolute
        top: 0
        right: 0
        height: 26px
        padding-left: 5px
        padding-right: 5px
        background-color: #F5A623
        color: $c-white
        text-transform: uppercase
        letter-spacing: 1.5px
        font-size: 12px
        font-weight: 600

      &-line
        width: calc(100% / 12)
        height: 100%
        background-color: $c-eclipse

        &:last-child
          border-right: none

        &--wrap
          display: flex
          z-index: 0
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
        &--blue
          background-color: $c-royalBlue
          border-right: 1px solid $c-black
        &--green
          background-color: $c-LightSeaGreen
          border-right: 1px solid $c-black
        &--black
          background-color: $c-eclipse
          border-right: 1px solid $c-black

      &-title
        z-index: 1
        position: relative
        padding-left: 20px
        padding-bottom: 5px
        color: $c-white
        font-size: 24px
        font-weight: 600
        +r(767)
          width: 100%
          padding-bottom: 15px

      &-description
        z-index: 1
        position: relative
        display: flex
        align-items: center
        padding-right: 20px
        padding-bottom: 10px
        color: $c-white
        +r(767)
          flex-wrap: wrap
          width: 100%
          padding-right: 0
          padding-left: 20px

        span
          +r(767)
            display: block
          &:nth-child(1)
            +r(767)
              width: 100%
          &:nth-child(2)
            margin-right: 5px
            margin-left: 20px
            +r(767)
              display: inline-block
              margin-left: 0

      &-footer
        display: flex
        padding: 30px 25px
        +r(767)
          flex-wrap: wrap

      &-left,
      &-right
        width: 50%
        +r(767)
          width: 100%

      &-left
        display: flex
        flex-wrap: wrap
        +r(767)
          flex-wrap: wrap
        .investment__block-half
          width: 50%
          padding-bottom: 10px
          +r(767)
            width: 100%

      &-subtitle
        padding-bottom: 5px
        color: $c-nobel
        font-style: italic

      &-sum
        font-weight: 400
        span
          font-weight: 600
        &--0
          font-size: 36px
        &--1
          font-size: 24px

      &-text
        padding-top: 10px
      &-btn
        display: flex
        +r(767)
          flex-wrap: wrap

        > a
          max-width: 50%
          margin: 0
          margin-bottom: 10px
          +r(767)
            max-width: 100%

          &:nth-child(1)
            margin-right: 5px
          &:nth-child(2)
            margin-left: 5px
      &-wrap
        display: flex
        padding-bottom: 20px
        +r(767)
          justify-content: space-between

        > a
          margin-left: 30px
          color: $c-royalBlue

      &-list
        li
          padding-bottom: 5px
          &:last-child
            padding-bottom: 0
          span
            &.plus
              color: $c-apple
            &.minus
              color: $c-bittersweet
            &:nth-child(2)
              +r(767)
                display: block
                padding-bottom: 15px


// \ INVESTMENT