// SUPPORT

.cabinet
  .support
    padding-top: 73px
    padding-bottom: 146px
    +r(767)
      padding-top: 36px
      padding-bottom: 73px


    &--empty
      .support__row
        display: flex
        flex-wrap: wrap
        align-items: flex-start

    &--ticket
      .support__container-0
        padding-bottom: 15px
      .support__container-1
        padding-bottom: 128px
        +r(767)
          padding-bottom: 64px
      .support__container-2
        padding-bottom: 80px
        +r(767)
          padding-bottom: 40px


    &__block
      width: 100%
      min-height: 94px
      padding: 20px
      margin-bottom: 20px
      background-color: $c-whiteSmoke
      +rmin(992)
        width: calc(50% - 10px)
        margin-bottom: 0

      &:nth-child(even)
        +rmin(992)
          margin-left: 10px
      &:nth-child(odd)
        +rmin(992)
          margin-right: 10px

      p
        font-size: 18px

        a
          color: $c-royalBlue

      a
        margin-top: 22px
        margin-left: 0


    &__container
      display: flex
      align-items: center
      justify-content: space-between
      +r(767)
        flex-direction: column
        align-items: flex-start

      > *
        margin: 0
        padding: 0

      &-wrap
        display: flex
        width: 100%
        max-width: 285px
        +r(767)
          z-index: 1
          position: fixed
          bottom: 0
          left: 0
          right: 0
          width: 100%
          max-width: 100%
          height: 90px
          padding: 20px
          background-color: rgba($c-white, 0.95)

      &-0
        padding-bottom: 38px

      &-1
        padding-bottom: 52px


    &__pagination
      &-list
        display: flex
        flex-wrap: wrap

      &-item
        display: flex
        padding-bottom: 10px

      &-link
        display: flex
        align-items: center
        justify-content: center
        height: 32px
        border-radius: 3px
        border: 1px solid rgba($c-royalBlue, 0.2)
        margin-right: 10px
        padding-left: 10px
        padding-right: 10px
        color: $c-royalBlue
        text-align: center
        font-size: 18px
        +transition(border-color, background-color, color)
        +r(767)
          font-size: 16px

        &--active
          color: $c-apple
        &--close
          color: $c-bittersweet

        &:hover
          border-color: $c-royalBlue
          +transition(border-color)
          transition-duration: 0s
        &.is-active
          border-color: transparent
          background-color: rgba($c-blueZodiac, 0.24)
          color: $c-blueZodiac
          +transition(border-color, background-color, color)
          transition-duration: 0s


    &__col
      width: 100%

    &__box
      width: calc((100% / 2) - 18px)
      margin-bottom: 18px
      padding: 10px 20px
      border-radius: 10px 10px 0 10px
      background-color: $c-whiteSmoke
      +r(767)
        width: 100%

      &.is-hide
        display: none

      &--active
        .support__box-badge
          background-color: $c-apple
      &--close
        .support__box-badge
          background-color: $c-bittersweet


      &-header
        padding-bottom: 24px

        > p
          color: $c-nobel
          font-size: 14px
          font-style: italic

      &-body
        padding-bottom: 23px

        p
          &:nth-child(1)
            color: $c-nobel
            font-size: 14px
            font-style: italic
          &:nth-child(2)
            font-size: 18px
            +r(767)
              font-size: 16px

      &-footer
        p
          &:nth-child(1)
            padding-bottom: 10px
            color: $c-nobel
            font-size: 14px
            font-style: italic

            sup
              display: inline-block
              top: -3px
              left: 3px
              border-radius: 50%
              line-height: 0
              border: 1px solid $c-whiteSmoke
              background-color: $c-LightSeaGreen
              color: $c-white
              font-size: 10px
              font-style: normal
              +transition(opacity)

              span
                display: inline-block
                position: relative
                top: 1px
                padding-top: 50%
                padding-bottom: 50%
                margin-left: 7px
                margin-right: 7px
                line-height: 0

          &:nth-child(2)
            font-size: 18px
            +r(767)
              font-size: 16px

      &-badge
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        top: 0
        right: 30px
        height: 26px
        min-width: 110px
        color: $c-white
        text-transform: uppercase
        font-size: 12px
        font-weight: 600


    &__info
      margin-top: 10px

      &-wrap
        display: flex
        flex-wrap: wrap
        align-items: center
        width: 100%

      &-0
        margin-right: 27px
        color: $c-nobel
        font-size: 14px
        span
          display: inline-flex
          align-items: center
          justify-content: center
          height: 26px
          margin-left: 10px
          padding-left: 10px
          padding-right: 10px
          background-color: $c-apple
          text-transform: uppercase
          color: $c-white

      &-1
        margin-right: 23px
        color: $c-nobel
        font-style: italic

      &-2
        font-size: 18px
        span
          padding-right: 10px
          color: $c-nobel
          font-size: 14px


      &-btn
        margin: 0
        margin-top: 10px
        margin-right: 24px
        border-color: rgba($c-bittersweet, 0.5)
        color: $c-bittersweet

        &:hover,
        &:focus
          border-color: $c-bittersweet


    &__chat
      width: 100%
      padding: 20px 20px 30px
      border: 1px solid $c-whiteSmoke
      border-radius: 10px 10px 0 10px

      &-title
        padding-bottom: 10px
        color: $c-nobel
        font-style: italic

      &-field
        position: relative
        display: flex
        align-items: flex-start
        +r(767)
          flex-direction: column

        textarea
          resize: none
          border: none
          width: calc(100% - 300px)
          margin-right: 15px
          min-height: 50px
          padding: 15px 15px 0 0
          color: $c-blueZodiac
          font-size: 18px
          &::-webkit-input-placeholder
            color: $c-blueZodiac
            font-size: 18px
          &::-moz-placeholder
            color: $c-blueZodiac
            font-size: 18px
          &:-ms-input-placeholder
            color: $c-blueZodiac
            font-size: 18px
          &:-moz-placeholder
            color: $c-blueZodiac
            font-size: 18px

          +r(767)
            width: 100%
            padding-bottom: 15px

        button
          margin: 0


    &__message
      padding: 15px 20px
      margin-bottom: 20px
      border-radius: 10px 10px 0 10px
      border: 1px solid $c-whisper
      background-color: $c-whiteSmoke

      &--winance
        border-radius: 10px 10px 10px 0
        border-color: $c-LightSeaGreen

      div
        &:nth-child(1)
          display: flex
          align-items: center
          justify-content: space-between
          padding-bottom: 20px

          p
            color: $c-nobel
            font-style: italic

        &:nth-child(2)
          width: 100%
          max-width: 870px

          p
            font-size: 18px
            +r(767)
              font-size: 16px

      &-wrap
        width: 100%
// \ SUPPORT