// CALC :: START


.calc
  .container

    h1.calc__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Рассчитайте ваш доход"

    .calc__row

      .calc__tabs

        include ../common/_calcForm


// CALC :: END