// MAIN :: START


section.main.main--0
  .container

    h1.main__title.title.title--wrap.wow.wowFadeUp(data-animation-delay="0.3s")!= "Инвесторам"
    h2.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Фонд Winance использует инновационный подход к инвестициям. Наша команда — единственная в СНГ владеет таким инвестиционным инструментом, как кортсайдинг. Это позволяет фонду предоставлять своим инвесторам лучшие условия пассивного заработка."

        
// MAIN :: END
