// TRANSPARENCY :: START


.transparency
  .container

    h1.transparency__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Прозрачность"
    h2.transparency__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Работа фонда полностью <br>прозрачна."

    .transparency__row
      p.transparency__text.subtitle.wow.wowFadeUp(data-animation-delay="0.45s")!= "Зарегистрированные пользователи <br>могут получить данные игровых <br>кошельков с полной историей"
      a.transparency__btn.btn.btn--small.btn--colorW.wow.wowFadeUp(data-animation-delay="0.5s" href="#" title!="" class="")!= "Зарегистрироваться"

      .transparency__line.transparency__line-0.animated.slideInUp
      .transparency__line.transparency__line-1.animated.slideInUp
      .transparency__line.transparency__line-2.animated.slideInUp
      .transparency__line.transparency__line-3.animated.slideInUp
      .transparency__line.transparency__line-4.animated.slideInUp


// TRANSPARENCY :: END
