// TRANSPARENCY :: START


.transparency
  .container

    h1.transparency__title.title!= "Прозрачность"
    h2.transparency__subtitle.subtitle!= "Работа фонда полностью <br>прозрачна."

    .transparency__row
      p.transparency__text.subtitle!= "Зарегистрированные пользователи <br>могут получить данные игровых <br>кошельков с полной историей"
      a.transparency__btn.btn.btn--small.btn--colorW(href="#" title!="" class="")!= "Зарегистрироваться"

      .transparency__line.transparency__line-0
      .transparency__line.transparency__line-1
      .transparency__line.transparency__line-2
      .transparency__line.transparency__line-3
      .transparency__line.transparency__line-4


// TRANSPARENCY :: END
